@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@font-face {
	font-family: 'custom-icons';
	src: url('../fonts/custom-icons.eot?1613996526458');
	src: url('../fonts/custom-icons.eot?#iefix-1613996526458') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1613996526458') format('woff2'), url('../fonts/custom-icons.woff?1613996526458') format('woff'), url('../fonts/custom-icons.ttf?1613996526458') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*='icon-']:before {
	font-family: 'custom-icons';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-activity:before {
        content: '\ea01';
    }
    .icon-ammonia:before {
        content: '\ea02';
    }
    .icon-anxious:before {
        content: '\ea03';
    }
    .icon-apple:before {
        content: '\ea04';
    }
    .icon-apricot:before {
        content: '\ea05';
    }
    .icon-arrow-left:before {
        content: '\ea06';
    }
    .icon-arrow-right:before {
        content: '\ea07';
    }
    .icon-articles:before {
        content: '\ea08';
    }
    .icon-berry:before {
        content: '\ea09';
    }
    .icon-blue-cheese:before {
        content: '\ea0a';
    }
    .icon-blueberry:before {
        content: '\ea0b';
    }
    .icon-body-pain:before {
        content: '\ea0c';
    }
    .icon-bottom:before {
        content: '\ea0d';
    }
    .icon-butter:before {
        content: '\ea0e';
    }
    .icon-check-mark:before {
        content: '\ea0f';
    }
    .icon-cheese:before {
        content: '\ea10';
    }
    .icon-chemical:before {
        content: '\ea11';
    }
    .icon-chestnut:before {
        content: '\ea12';
    }
    .icon-chill:before {
        content: '\ea13';
    }
    .icon-citrus:before {
        content: '\ea14';
    }
    .icon-clock:before {
        content: '\ea15';
    }
    .icon-close:before {
        content: '\ea16';
    }
    .icon-coffee:before {
        content: '\ea17';
    }
    .icon-cramps:before {
        content: '\ea18';
    }
    .icon-creative:before {
        content: '\ea19';
    }
    .icon-depression:before {
        content: '\ea1a';
    }
    .icon-diesel:before {
        content: '\ea1b';
    }
    .icon-dispensaries:before {
        content: '\ea1c';
    }
    .icon-dizzy:before {
        content: '\ea1d';
    }
    .icon-doctors:before {
        content: '\ea1e';
    }
    .icon-down:before {
        content: '\ea1f';
    }
    .icon-dry-eyes:before {
        content: '\ea20';
    }
    .icon-dry-mouth:before {
        content: '\ea21';
    }
    .icon-earthy:before {
        content: '\ea22';
    }
    .icon-encycloweedia:before {
        content: '\ea23';
    }
    .icon-energized:before {
        content: '\ea24';
    }
    .icon-events:before {
        content: '\ea25';
    }
    .icon-exit:before {
        content: '\ea26';
    }
    .icon-eye-pressure:before {
        content: '\ea27';
    }
    .icon-eye:before {
        content: '\ea28';
    }
    .icon-facebook:before {
        content: '\ea29';
    }
    .icon-fatigue:before {
        content: '\ea2a';
    }
    .icon-filters:before {
        content: '\ea2b';
    }
    .icon-flowery:before {
        content: '\ea2c';
    }
    .icon-focused:before {
        content: '\ea2d';
    }
    .icon-grape:before {
        content: '\ea2e';
    }
    .icon-grapefruit:before {
        content: '\ea2f';
    }
    .icon-headaches:before {
        content: '\ea30';
    }
    .icon-higher:before {
        content: '\ea31';
    }
    .icon-honey:before {
        content: '\ea32';
    }
    .icon-hourglass:before {
        content: '\ea33';
    }
    .icon-hybrid:before {
        content: '\ea34';
    }
    .icon-indica:before {
        content: '\ea35';
    }
    .icon-inflammation:before {
        content: '\ea36';
    }
    .icon-info:before {
        content: '\ea37';
    }
    .icon-insomnia:before {
        content: '\ea38';
    }
    .icon-instagram:before {
        content: '\ea39';
    }
    .icon-lack-of-appetite:before {
        content: '\ea3a';
    }
    .icon-lavender:before {
        content: '\ea3b';
    }
    .icon-left:before {
        content: '\ea3c';
    }
    .icon-lemon:before {
        content: '\ea3d';
    }
    .icon-lime:before {
        content: '\ea3e';
    }
    .icon-link:before {
        content: '\ea3f';
    }
    .icon-linkedin:before {
        content: '\ea40';
    }
    .icon-lock:before {
        content: '\ea41';
    }
    .icon-mail:before {
        content: '\ea42';
    }
    .icon-mango:before {
        content: '\ea43';
    }
    .icon-marker:before {
        content: '\ea44';
    }
    .icon-megaphone:before {
        content: '\ea45';
    }
    .icon-menthol:before {
        content: '\ea46';
    }
    .icon-mint:before {
        content: '\ea47';
    }
    .icon-moderator:before {
        content: '\ea48';
    }
    .icon-moon:before {
        content: '\ea49';
    }
    .icon-muscle-spasms:before {
        content: '\ea4a';
    }
    .icon-nausea:before {
        content: '\ea4b';
    }
    .icon-newbie:before {
        content: '\ea4c';
    }
    .icon-nutty:before {
        content: '\ea4d';
    }
    .icon-orange:before {
        content: '\ea4e';
    }
    .icon-paranoid:before {
        content: '\ea4f';
    }
    .icon-peach:before {
        content: '\ea50';
    }
    .icon-pear:before {
        content: '\ea51';
    }
    .icon-pepper:before {
        content: '\ea52';
    }
    .icon-personal-stats:before {
        content: '\ea53';
    }
    .icon-phone:before {
        content: '\ea54';
    }
    .icon-pictures:before {
        content: '\ea55';
    }
    .icon-pine:before {
        content: '\ea56';
    }
    .icon-pineapple:before {
        content: '\ea57';
    }
    .icon-planet:before {
        content: '\ea58';
    }
    .icon-plum:before {
        content: '\ea59';
    }
    .icon-plus:before {
        content: '\ea5a';
    }
    .icon-pungent:before {
        content: '\ea5b';
    }
    .icon-relief:before {
        content: '\ea5c';
    }
    .icon-reviews:before {
        content: '\ea5d';
    }
    .icon-rewards:before {
        content: '\ea5e';
    }
    .icon-right:before {
        content: '\ea5f';
    }
    .icon-rookie:before {
        content: '\ea60';
    }
    .icon-rose:before {
        content: '\ea61';
    }
    .icon-sage:before {
        content: '\ea62';
    }
    .icon-sativa:before {
        content: '\ea63';
    }
    .icon-scissors:before {
        content: '\ea64';
    }
    .icon-search:before {
        content: '\ea65';
    }
    .icon-seizures:before {
        content: '\ea66';
    }
    .icon-settings:before {
        content: '\ea67';
    }
    .icon-share:before {
        content: '\ea68';
    }
    .icon-skunk:before {
        content: '\ea69';
    }
    .icon-sleepy:before {
        content: '\ea6a';
    }
    .icon-spasticity:before {
        content: '\ea6b';
    }
    .icon-spicy-herbal:before {
        content: '\ea6c';
    }
    .icon-star:before {
        content: '\ea6d';
    }
    .icon-strains:before {
        content: '\ea6e';
    }
    .icon-strawberry:before {
        content: '\ea6f';
    }
    .icon-stress:before {
        content: '\ea70';
    }
    .icon-subcat:before {
        content: '\ea71';
    }
    .icon-sun:before {
        content: '\ea72';
    }
    .icon-sweet:before {
        content: '\ea73';
    }
    .icon-tag:before {
        content: '\ea74';
    }
    .icon-tar:before {
        content: '\ea75';
    }
    .icon-tea:before {
        content: '\ea76';
    }
    .icon-tobacco:before {
        content: '\ea77';
    }
    .icon-top:before {
        content: '\ea78';
    }
    .icon-tree-fruit:before {
        content: '\ea79';
    }
    .icon-tropical:before {
        content: '\ea7a';
    }
    .icon-turned-on:before {
        content: '\ea7b';
    }
    .icon-twitter:before {
        content: '\ea7c';
    }
    .icon-up:before {
        content: '\ea7d';
    }
    .icon-user:before {
        content: '\ea7e';
    }
    .icon-vanilla:before {
        content: '\ea7f';
    }
    .icon-verified:before {
        content: '\ea80';
    }
    .icon-views:before {
        content: '\ea81';
    }
    .icon-violet:before {
        content: '\ea82';
    }
    .icon-woody:before {
        content: '\ea83';
    }

.chart {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	margin: 0 30px 0 0;
	vertical-align: top;
	position: relative;
}

.chart p {
	font-size: 48px;
	color: #313131;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

@media only screen and (max-width: 1459px) {
	.chart {
		width: 150px;
		height: 150px;
	}
	.chart canvas {
		width: 150px !important;
		height: 150px !important;
	}
}

.dark .chart p {
	color: #fff;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	box-sizing: content-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ul {
	list-style: none;
}

* { 
	outline: 0 none !important;
}
body{
	background: #f7f8f8;
	font-family: 'Montserrat', sans-serif;
}
h1.title-cat {
	 font-size: 48px;
	 display: -webkit-flex;
	 display: -moz-flex;
	 display: -ms-flex;
	 display: -o-flex;
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 align-items: center;
	 font-weight: 800;
	 justify-content: center;
	 margin: 40px 0;
	 color: #8cc153;
}
 h1.title-cat span {
	 position: relative;
	 color: #313131;
}
 h1.title-cat span:before {
	 position: relative;
	 display: inline-block;
	 margin: 0 20px;
	 font-size: 21px;
}
 h1.title {
	 font-size: 72px;
	 color: #313131;
	 font-weight: 800;
	 text-align: center;
	 margin: 33px 0;
}
 h2.title {
	 position: relative;
	 font-size: 48px;
	 color: #313131;
	 font-weight: 800;
	 font-family: 'Montserrat', sans-serif;
	 width: 100%;
	 margin-bottom: 40px;
}
 h2.title:before {
	 content: '';
	 position: absolute;
	 height: 1px;
	 left: 0;
	 right: 0;
	 top: 50%;
	 transform: translate(0, -50%);
	 background: #cbcbcb;
	 z-index: -1;
}
 h2.title span {
	 background: #f7f8f8;
}
.dfrt,
.dfr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.dfrt {
	align-items: flex-start;
}

.button {
	background: #8cc153;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 105px;
	border-radius: 15px;
	border: none;
	font-size: 12px;
	font-weight: 800;
	transition: all 0.3s ease;
}

.button:hover {
	box-shadow: 0px 4px 12px rgba(140, 193, 83, 0.5);
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1, 0.1);
		transform: scale(0.1, 0.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

@keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1, 0.1);
		transform: scale(0.1, 0.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
		opacity: 0;
	}
}

.jwa-map-list {
	padding: 0;
}

.jwa-map-list .dispensaries .button {
	background: #8cc153;
	color: #fff;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	height: 30px;
	width: 105px;
	border-radius: 15px;
	border: none;
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	transition: all 0.3s ease;
}

.jwa-map-list .dispensaries .button:hover {
	box-shadow: 0px 4px 12px rgba(140, 193, 83, 0.5);
}

.jwa-map-list .dispensaries .map-block {
	position: relative;
	height: calc(100vh - 180px);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.jwa-map-list .dispensaries .results {
	width: 530px;
	height: calc(100vh - 240px);
	overflow: hidden;
	margin: auto 0px;
	position: relative;
	z-index: 1;
	background: #fff;
	border-radius: 12px;
}

.jwa-map-list .dispensaries .results img {
	width: 155px;
	min-height: 136px;
	object-fit: cover;
	object-position: center;
}

.jwa-map-list .dispensaries .results .description {
	width: calc(100% - 155px);
	padding: 15px 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.jwa-map-list .dispensaries .results .description .status {
	font-size: 12px;
	color: #848484;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.jwa-map-list .dispensaries .results .description .status:before {
	margin-right: 5px;
}

.jwa-map-list .dispensaries .results .description .status.icon-clock:before {
	color: #8cc153;
}

.jwa-map-list .dispensaries .results .description .status.icon-lock:before {
	color: #f44;
}

.jwa-map-list .dispensaries .results .description .rating {
	font-size: 10px;
	color: #bbb;
	align-items: flex-end;
	margin: 0 0 10px;
}

.jwa-map-list .dispensaries .results .description .rating ul {
	list-style: none;
}

.jwa-map-list .dispensaries .results .description .rating ul[data-rating="1"] li:nth-of-type(-n+1) {
	color: #fdcc1c;
}

.jwa-map-list .dispensaries .results .description .rating ul[data-rating="2"] li:nth-of-type(-n+2) {
	color: #fdcc1c;
}

.jwa-map-list .dispensaries .results .description .rating ul[data-rating="3"] li:nth-of-type(-n+3) {
	color: #fdcc1c;
}

.jwa-map-list .dispensaries .results .description .rating ul[data-rating="4"] li:nth-of-type(-n+4) {
	color: #fdcc1c;
}

.jwa-map-list .dispensaries .results .description .rating ul[data-rating="5"] li:nth-of-type(-n+5) {
	color: #fdcc1c;
}

.jwa-map-list .dispensaries .results .description .rating li {
	color: #bbb;
	margin: 0 5px 0 0;
	font-size: 14px;
}

.jwa-map-list .dispensaries .results .description h3 {
	font-weight: 800;
	font-size: 16px;
	margin: 0 0 5px;
	text-align: left;
}

.jwa-map-list .dispensaries .results .description .address {
	font-size: 12px;
	margin-bottom: 5px;
	text-align: left;
}

.jwa-map-list .dispensaries .results .results-dispensaries {
	height: 100%;
	display: none;
}

.jwa-map-list .dispensaries .results .results-head .back {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	color: #000;
}

.jwa-map-list .dispensaries .results .results-head .back:before {
	font-size: 10px;
	order: 0;
	top: 0;
	margin-right: 2px;
}

.jwa-map-list .dispensaries .results .results-description {
	height: calc(100% - 70px);
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #ccc #fff;
	padding: 15px;
}

.jwa-map-list .dispensaries .results .results-description .buttons {
	margin-top: 30px;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}

.jwa-map-list .dispensaries .results .results-description .buttons .button {
	width: 148px;
	height: 36px;
	font-size: 14px;
	border-radius: 32px;
}

.jwa-map-list .dispensaries .results .results-description .buttons .button:first-of-type {
	margin-right: 30px;
	font-weight: 700;
}

.jwa-map-list .dispensaries .results .results-description .buttons .button:last-of-type {
	color: #000;
	background-color: transparent;
	box-shadow: none;
	font-weight: 500;
}

.jwa-map-list .dispensaries .results .results-description .buttons .button:last-of-type:hover {
	color: #8cc153;
}

.jwa-map-list .dispensaries .results .results-description img {
	width: 155px;
	height: 136px;
	border-radius: 12px;
}

.jwa-map-list .dispensaries .results .results-description::-webkit-scrollbar {
	width: 5px;
}

.jwa-map-list .dispensaries .results .results-description::-webkit-scrollbar-track {
	background: #fefefe;
}

.jwa-map-list .dispensaries .results .results-description::-webkit-scrollbar-thumb {
	background: #ccc;
}

.jwa-map-list .dispensaries .results .results-description > h3 {
	font-size: 18px;
	font-weight: 800;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin-top: 20px;
}

.jwa-map-list .dispensaries .results .results-description strong {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}

.jwa-map-list .dispensaries .results .results-description .business-hours {
	width: 100%;
}

.jwa-map-list .dispensaries .results .results-description .business-hours li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 0;
	border-bottom: 1px solid #cbcbcb;
}

.jwa-map-list .dispensaries .results .results-description .business-hours span {
	margin: 0 0 0 auto;
}

.jwa-map-list .dispensaries .results .results-block {
	height: 100%;
}

.jwa-map-list .dispensaries .results .item {
	border-radius: 12px;
	border: 1px solid #e8e5e5;
	background: #fff;
	overflow: hidden;
	margin-bottom: 15px;
	align-items: stretch;
	cursor: pointer;
}

.jwa-map-list .dispensaries .results .item:last-of-type {
	margin-bottom: 0;
}

.jwa-map-list .dispensaries .results .results-body {
	padding: 20px 15px;
	height: calc(100% - 70px);
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #ccc #fff;
}

.jwa-map-list .dispensaries .results .results-body::-webkit-scrollbar {
	width: 5px;
}

.jwa-map-list .dispensaries .results .results-body::-webkit-scrollbar-track {
	background: #fefefe;
}

.jwa-map-list .dispensaries .results .results-body::-webkit-scrollbar-thumb {
	background: #ccc;
}

.jwa-map-list .dispensaries .results .results-head {
	border-bottom: 1px solid #cbcbcb;
	padding: 15px;
}

.jwa-map-list .dispensaries .results .results-head p {
	font-size: 14px;
	font-weight: 700;
}

.jwa-map-list .dispensaries .results .results-head .sort-filter {
	margin: 0 0 0 auto;
	position: relative;
}

.jwa-map-list .dispensaries .results .results-head .sort-filter:not(.open) > a:before {
	transform: rotate(180deg) translate(0, -2px);
}

.jwa-map-list .dispensaries .results .results-head .sort-filter ul {
	z-index: 1;
	position: absolute;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
	padding: 15px;
	min-width: 115px;
	width: 100%;
	right: 0;
	top: calc(100% + 25px);
	display: none;
}

.jwa-map-list .dispensaries .results .results-head .sort-filter ul a {
	font-size: 12px;
	color: #888;
	line-height: 21px;
}

.jwa-map-list .dispensaries .results .results-head .sort-filter ul a:hover {
	color: #8cc153;
}

.jwa-map-list .dispensaries .results .results-head .sort-filter ul:before {
	transition: all 0.1s linear;
	content: '';
	border: 16px solid transparent;
	border-bottom: 16px solid #fff;
	position: absolute;
	right: 15px;
	top: 0;
	transform: translateY(-100%);
}

.jwa-map-list .dispensaries .results .results-head a {
	font-size: 12px;
	font-weight: 500;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	color: #cbcbcb;
	transition: all 0.3s ease;
}

.jwa-map-list .dispensaries .results .results-head a:hover {
	color: #8cc153;
}

.jwa-map-list .dispensaries .results .results-head a:before {
	position: relative;
	top: 1px;
	margin-left: 5px;
	order: 1;
	font-size: 10px;
}

.jwa-map-list .dispensaries #map {
	position: absolute;
	width: 100vw;
	left: 50%;
	top: 0;
	bottom: 0;
	height: 100%;
	transform: translate(-50%);
}

.jwa-map-list .dispensaries .filters {
	height: 100px;
}

.jwa-map-list .dispensaries .filters .search {
	position: relative;
	max-width: 530px;
	width: 100%;
	margin-right: 10px;
}

.jwa-map-list .dispensaries .filters .search input {
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: #cbcbcb;
	height: 50px;
	width: 50px;
	padding: 0 50px 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.jwa-map-list .dispensaries .filters .search button {
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	width: 50px;
	color: #b0b0b0;
	background-color: transparent;
	border-color: transparent;
}

.jwa-map-list .dispensaries .filters .select {
	position: relative;
	padding-left: 11px;
	margin-left: 5px;
	cursor: pointer;
}

.jwa-map-list .dispensaries .filters .select:before {
	content: '';
	width: 1px;
	height: 30px;
	position: absolute;
	left: 0;
	background: #cbcbcb;
}

.jwa-map-list .dispensaries .filters .select p {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #eaeaea;
	border: 1px solid #dedede;
	border-radius: 19px;
	padding: 0 20px;
	height: 30px;
	justify-content: center;
	align-items: center;
}

.jwa-map-list .dispensaries .filters .select p:before {
	order: 1;
	margin-left: 15px;
	font-size: 12px;
	color: #cbcbcb;
}

.jwa-map-list .dispensaries .filters .select-options {
	z-index: 1;
	position: absolute;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
	padding: 40px 30px;
	min-width: 265px;
	width: 100%;
	right: 0;
	top: calc(100% + 25px);
	display: none;
}

.jwa-map-list .dispensaries .filters .select-options:before {
	transition: all 0.1s linear;
	content: '';
	border: 16px solid transparent;
	border-bottom: 16px solid #fff;
	position: absolute;
	right: 42px;
	top: 0;
	transform: translateY(-100%);
}

.jwa-map-list .dispensaries .filters .select-options li {
	margin-bottom: 20px;
}

.jwa-map-list .dispensaries .filters .select-options li:last-of-type {
	margin-bottom: 0;
}

.jwa-map-list .dispensary-description {
	background: #fff;
}

.jwa-map-list .dispensary-description #map {
	border-radius: 12px;
	height: 332px;
	width: calc(100% - 480px);
}

.jwa-map-list .dispensary-description .business-hours {
	width: 100%;
	max-width: 440px;
	margin-right: 40px;
	position: relative;
}

.jwa-map-list .dispensary-description .business-hours.icon-lock:before {
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fff;
	color: #f00;
	font-size: 57px;
	padding-bottom: 30px;
}

.jwa-map-list .dispensary-description .business-hours.icon-lock:after {
	padding-top: 15px;
	content: attr(data-title);
	position: absolute;
	color: #f00;
	font-size: 16px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	text-align: center;
}

.jwa-map-list .dispensary-description .business-hours li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 0;
	border-bottom: 1px solid #cbcbcb;
	font-family: Montserrat, sans-serif;
}

.jwa-map-list .dispensary-description .business-hours span {
	margin: 0 0 0 auto;
}

.jwa-map-list .dispensary-description .business-hours strong {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.jwa-map-list .dispensary-description .dispensary-nav {
	position: relative;
	
}

.jwa-map-list .dispensary-description .dispensary-nav:before {
	content: '';
	width: 100vw;
	height: 1px;
	left: 50%;
	position: absolute;
	bottom: 0;
	background: #eee;
	transform: translateX(-50%);
}

.jwa-map-list .dispensary-description .dispensary-nav li a {
	margin-right: 80px;
	padding: 20px 0;
	border-bottom: 4px solid transparent;
	transition: all 0.3s ease;
}
.jwa-map-list .dispensary-description .dispensary-nav li a:hover {
	color: #8cc153;
}

.jwa-map-list .dispensary-description .dispensary-nav li:last-of-type {
	margin-right: 0;
}

.jwa-map-list .dispensary-description .dispensary-nav li.active a{
	border-bottom: 4px solid #8cc153;
	pointer-events: none;
}

.jwa-map-list .dispensary-description .dispensary-nav li.active  a{
	color: #000;
}

.jwa-map-list .dispensary-description .dispensary-nav a {
	display: block;
	color: #7d7d7d;
	font-weight: 800;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.jwa-map-list .dispensary-description .reviews-form {
	max-width: 560px;
	width: 100%;
	padding: 100px 0 150px;
}

.jwa-map-list .dispensary-description .reviews-form h3 {
	font-weight: 800;
	font-size: 24px;
	color: #313131;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	width: 100%;
}

.jwa-map-list .dispensary-description .reviews-form p {
	font-size: 18px;
	color: #868686;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15px;
	width: 100%;
}

.jwa-map-list .dispensary-description .reviews-form .input {
	width: calc((100% - 20px) / 2);
	margin-bottom: 20px;
}

.jwa-map-list .dispensary-description .reviews-form .input input[type="text"],
.jwa-map-list .dispensary-description .reviews-form .input input[type="email"] {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #868686;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	background-color: transparent;
}

.jwa-map-list .dispensary-description .reviews-form .textarea {
	margin-bottom: 20px;
	width: 100%;
}

.jwa-map-list .dispensary-description .reviews-form .rating {
	width: 100%;
}

.jwa-map-list .dispensary-description .reviews-form .rating + .input {
	margin-right: 20px;
}

.jwa-map-list .dispensary-description .reviews-form textarea {
	border: 1px solid #dfdfdf;
	border-radius: 12px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #868686;
	width: 100%;
	height: 210px;
	padding: 20px;
	background-color: transparent;
	resize: none;
}

.jwa-map-list .dispensary-description .about-slider {
	margin-bottom: 30px;
}
.jwa-map-list .dispensary-description .about-slider img{
	height: 382.5px;
}
.jwa-map-list .dispensary-description .about-slider-nav img{
	height: 92.25px;
}
.jwa-map-list .dispensary-description .about-slider-nav {
	width: calc(100% - 100px);
	margin: 0 auto;
}

.jwa-map-list .dispensary-description .about-slider-nav .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.jwa-map-list .dispensary-description .about-slider-nav .slick-arrow:hover:before {
	box-shadow: 0 4px 12px rgba(140, 193, 83, .5);
}

.jwa-map-list .dispensary-description .about-slider-nav .slick-arrow:before {
	transition: all 0.3s ease;
	cursor: pointer;
	background: #8cc153;
	width: 36px;
	height: 36px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 50%;
}

.jwa-map-list .dispensary-description .about-slider-nav .slick-arrow.icon-left {
	left: -50px;
}

.jwa-map-list .dispensary-description .about-slider-nav .slick-arrow.icon-right {
	right: -50px;
}

.jwa-map-list .dispensary-description .about-slider-nav .item {
	margin: 0 15px;
}

.jwa-map-list .dispensary-description .about-slider-nav .item img {
	height: 120px;
	object-fit: cover;
	object-position: center;
}

.jwa-map-list .dispensary-description .tab-pane {
	display: none;
	padding: 50px 0 0;
}

.jwa-map-list .dispensary-description .tab-pane#about {
	padding-top: 50px;
	padding-bottom: 90px;
}

.jwa-map-list .dispensary-description .tab-pane#about h3 {
	font-weight: 800;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}

.jwa-map-list .dispensary-description .tab-pane#about p {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 28px;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.jwa-map-list .dispensary-description .tab-pane#about.active {
	flex-direction: row;
	align-items: flex-start;
}

.jwa-map-list .dispensary-description .tab-pane#about .left-block {
	margin-right: 40px;
}

.jwa-map-list .dispensary-description .tab-pane#about .right-block,
.jwa-map-list .dispensary-description .tab-pane#about .left-block {
	width: calc((100% - 40px)/ 2);
}

.jwa-map-list .dispensary-description .tab-pane#about .right-block > img {
	width: 100%;
	border-radius: 12px;
	border: 1px solid #8cc153;
	object-fit: cover;
	object-position: center;
	box-sizing: border-box;
	height: 382px;
}


.jwa-map-list .dispensary-description .tab-pane .rating {
	margin-bottom: 20px;
}
.jwa-map-list .dispensary-description .tab-pane .rating ul .star{
	color: #fdcc1c;
}
/*
.jwa-map-list .dispensary-description .tab-pane .rating ul[data-rating="1"] li:nth-of-type(-n+1) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary-description .tab-pane .rating ul[data-rating="2"] li:nth-of-type(-n+2) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary-description .tab-pane .rating ul[data-rating="3"] li:nth-of-type(-n+3) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary-description .tab-pane .rating ul[data-rating="4"] li:nth-of-type(-n+4) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary-description .tab-pane .rating ul[data-rating="5"] li:nth-of-type(-n+5) {
	color: #fdcc1c;
}
*/

.jwa-map-list .dispensary-description .tab-pane .rating li {
	color: #bbb;
	font-size: 39px;
	margin-right: 10px;
	cursor: pointer;
}

.jwa-map-list .dispensary-description .tab-pane > .comment_block {
	position: relative;
	padding: 50px 0 0;
}

.jwa-map-list .dispensary-description .tab-pane > .comment_block:before {
	z-index: 0;
	content: '';
	width: 100vw;
	bottom: 0;
	top: 0;
	left: 50%;
	position: absolute;
	bottom: 0;
	background: #f7f8f8;
	transform: translateX(-50%);
}

.jwa-map-list .dispensary-description .tab-pane > .comment_block .review {
	max-width: 840px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	position: relative;
	z-index: 1;
}

.jwa-map-list .dispensary-description .tab-pane#business-hours {
	padding-bottom: 50px;
}

.jwa-map-list .dispensary-description .tab-pane#business-hours.active {
	flex-direction: row;
}

.jwa-map-list .dispensary-description .tab-pane.active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.jwa-map-list .checkbox input[type="checkbox"] {
	display: none;
}

.jwa-map-list .checkbox input[type="checkbox"]:not(:checked) + label:before {
	content: '';
}

.jwa-map-list .checkbox label {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 30px;
	cursor: pointer;
	text-transform: capitalize;
}

.jwa-map-list .checkbox label:before {
	font-size: 20px;
	color: #8cc153;
	width: 17px;
	height: 17px;
	border: 1px solid #8cc153;
	border-radius: 3px;
	position: absolute;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.jwa-map-list .checkbox-button {
	margin: 0 5px;
}

.jwa-map-list .checkbox-button input[type="checkbox"] {
	display: none;
}

.jwa-map-list .checkbox-button input[type="checkbox"]:checked + label {
	background: #8cc153;
	color: #fff;
	border-color: #8cc153;
}
.gmnoprint .gm-style-mtc button{
	height: 30px !important;
	padding: 0 10px !important;
	font-size: 14px !important;
}
.jwa-map-list .checkbox-button label {
	height: 30px;
	padding: 0 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background: #eaeaea;
	border: 1px solid #dedede;
	border-radius: 19px;
	font-weight: 500;
	font-size: 15px;
	cursor: pointer;
	color: #313131;
	transition: all 0.3s ease;
}
.jwa-map-list .checkbox-button label:hover{
	background: #8cc153;
	color: #fff;
	border-color: #8cc153;
}

.jwa-map-list .checkbox-button label.icon-plus:before {
	font-size: 11px;
}

.jwa-map-list .checkbox-button label.icon-doctors:before {
	font-size: 14px;
}

.jwa-map-list .checkbox-button label:before {
	margin-right: 5px;
}

.jwa-map-list .doctors-marker .pulse:after {
	box-shadow: 0 0 6px 3px #e44141;
}

.jwa-map-list .doctors-marker .pin {
	background: #fff url(../icons/doctors.svg);
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
}

.jwa-map-list .doctors-marker .pin:before,
.jwa-map-list .doctors-marker .pin:after {
	border-color: #e44141;
}

.jwa-map-list .dispensaries-marker .pin {
	background: #fff url(../icons/plus.svg);
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
}

.jwa-map-list .pin-wrap {
	position: absolute;
	width: 5px;
	height: 5px;
	margin-top: -22px;
	margin-left: -2.5px;
	-webkit-transform-origin: 50% 120.7106781187% 0;
	transform-origin: 50% 120.7106781187% 0;
}

.jwa-map-list .pin {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 45px;
	height: 45px;
	margin-top: -22.5px;
	margin-left: -22.5px;
	-webkit-transform-origin: 50% 34.71068% 0;
	transform-origin: 50% 34.71068% 0;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.jwa-map-list .pin::after {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	content: '';
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	border: 6px solid #8cc153;
	border-radius: 50% 50% 50% 0;
}

.jwa-map-list .pin::before {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	content: '';
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	border: 5px solid #8cc153;
	border-radius: 50% 50% 50% 0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.jwa-map-list .shadow {
	position: absolute;
}

.jwa-map-list .shadow::after {
	position: absolute;
	left: -125px;
	display: block;
	width: 50px;
	height: 50px;
	margin-top: -15px;
	content: '';
	-webkit-transform: rotateX(55deg);
	transform: rotateX(55deg);
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px;
}

.jwa-map-list .pulse {
	position: absolute;
	margin-top: -15px;
	margin-left: -25px;
	-webkit-transform: rotateX(55deg);
	transform: rotateX(55deg);
}

.jwa-map-list .pulse::after {
	display: block;
	width: 50px;
	height: 50px;
	content: '';
	-webkit-animation: pulsate 1s ease-out;
	animation: pulsate 1s ease-out;
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	opacity: 0;
	border-radius: 50%;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6px 3px #8cc153;
}

.jwa-map-list .share {
	margin-top: 20px;
}

.jwa-map-list .share [class*="icon-"] {
	transition: 0.3s ease;
	cursor: pointer;
}

.jwa-map-list .share [class*="icon-"]:hover:before {
	color: #8cc153;
}

.jwa-map-list .share .icon-share:before {
	color: #313131;
	font-size: 19px;
}

.jwa-map-list .share .soc {
	display: none;
}

.jwa-map-list .share .soc.open {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.jwa-map-list .share .soc li {
	margin-left: 20px;
}

.jwa-map-list .share .soc a:before {
	font-size: 18px;
	color: #b8b8b8;
}

.jwa-map-list .dispensary {
	padding-bottom: 40px;
}

.jwa-map-list .dispensary .rating {
	font-size: 10px;
	color: #bbb;
	align-items: flex-end;
	margin-bottom: 10px;
}

.jwa-map-list .dispensary .rating ul[data-rating="1"] li:nth-of-type(-n+1) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary .rating ul[data-rating="2"] li:nth-of-type(-n+2) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary .rating ul[data-rating="3"] li:nth-of-type(-n+3) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary .rating ul[data-rating="4"] li:nth-of-type(-n+4) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary .rating ul[data-rating="5"] li:nth-of-type(-n+5) {
	color: #fdcc1c;
}

.jwa-map-list .dispensary .rating li {
	color: #bbb;
	margin-right: 5px;
	font-size: 14px;
}

.jwa-map-list .dispensary .breadcrumbs {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
	align-items: center;
	margin: 20px 0;
}

.jwa-map-list .dispensary .breadcrumbs a {
	font-weight: 500;
	color: #f44;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	transition: all 0.3s ease;
}

.jwa-map-list .dispensary .breadcrumbs a:hover {
	color: #8cc153;
}

.jwa-map-list .dispensary .breadcrumbs a:after {
	top: -1px;
	margin: 0 5px;
	content: '|';
	color: #cbcbcb;
	position: relative;
	display: inline-block;
}

.jwa-map-list .dispensary .breadcrumbs span {
	font-weight: 500;
	color: #313131;
}

.jwa-map-list .dispensary .description {
	width: calc(100% - 300px);
}

.jwa-map-list .dispensary .description .address {
	font-size: 18px;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	color: #000;
}

.jwa-map-list .dispensary .description .rating {
	align-items: center;
	margin-bottom: 15px;
}

.jwa-map-list .dispensary .description .rating li {
	font-size: 23px;
}

.jwa-map-list .dispensary .description .rating p {
	padding-top: 5px;
	font-size: 14px;
}

.jwa-map-list .dispensary .description .buttons .button:first-of-type {
	margin-right: 30px;
}

.jwa-map-list .dispensary .description .button {
	width: 148px;
	height: 36px;
	border-radius: 32px;
}

.jwa-map-list .dispensary .description .phone,
.jwa-map-list .dispensary .description .web,
.jwa-map-list .dispensary .description .status {
	margin-bottom: 11px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #000;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.jwa-map-list .dispensary .description .phone:before,
.jwa-map-list .dispensary .description .web:before,
.jwa-map-list .dispensary .description .status:before {
	color: #8cc153;
	margin-right: 10px;
}
.jwa-map-list .dispensary .description .status{
	margin-bottom: 20px;
}
.jwa-map-list .dispensary .description .status span{
	margin-left: 5px;
	display: inline-block;
}
.jwa-map-list .dispensary img {
	width: 254px;
	height: 254px;
	border-radius: 12px;
	object-fit: cover;
	object-position: center;
	margin-right: 45px;
	border: 1px solid #8cc153;
	box-sizing: border-box;
}

.jwa-map-list .dispensary .col-lg-6 {
	align-items: flex-start;
}

.jwa-map-list .dispensary .col-lg-6 h3 {
	width: 100%;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
	color: #313131;
	font-size: 24px;
	margin-bottom: 20px;
}

.jwa-map-list .dispensary .progress-bars {
	width: calc(100% - 230px);
}

.jwa-map-list .dispensary .progress-bars li {
	margin-bottom: 20px;
}

.jwa-map-list .dispensary .progress-bars li:nth-of-type(1) .progress-bar {
	background: #8cc153;
}

.jwa-map-list .dispensary .progress-bars li:nth-of-type(2) .progress-bar {
	background: #eef159;
}

.jwa-map-list .dispensary .progress-bars li:nth-of-type(3) .progress-bar {
	background: #f7d93f;
}

.jwa-map-list .dispensary .progress-bars li:nth-of-type(4) .progress-bar {
	background: #f76d20;
}

.jwa-map-list .dispensary .progress-bars li:nth-of-type(5) .progress-bar {
	background: #e33f3f;
}

.jwa-map-list .dispensary .progress-bars span {
	width: 58px;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.jwa-map-list .dispensary .progress-bar {
	border-radius: 15px;
}

.jwa-map-list .dispensary .progress {
	box-shadow: none;
	max-width: 318px;
	width: 100%;
	background: #c4c4c4;
	height: 10px;
	margin: 0 10px;
	border-radius: 15px;
}

@media only screen and (max-width: 1459px) {
	.jwa-map-list .dispensary .progress-bars {
		width: calc(100% - 180px);
	}

	.jwa-map-list .dispensary img {
		width: 150px;
		height: 150px;
		margin-right: 15px;
	}

	.jwa-map-list .dispensary .progress {
		width: 210px;
	}

	.jwa-map-list .dispensary .description {
		width: calc(100% - 165px);
	}

	.jwa-map-list .dispensary-description .reviews-form {
		padding: 0px 0 50px;
	}

	.jwa-map-list .dispensary-description .about-slider-nav .item img {
		height: 90px;
	}

	.jwa-map-list .dispensaries .filters .search {
		width: 310px;
	}
}

@media only screen and (max-width: 1199px) {
	.jwa-map-list .dispensaries .results {
		width: 415px;
	}

	.jwa-map-list .dispensaries .results .description {
		padding: 15px 10px;
	}

	.jwa-map-list .dispensaries .filters .search {
		width: 240px;
	}

	.jwa-map-list .dispensaries .filters .search input {
		font-size: 14px;
	}

	.jwa-map-list .checkbox-button label {
		padding: 0 10px;
		font-size: 14px;
	}

	.jwa-map-list .dispensary .item {
		margin-bottom: 30px;
	}

	.jwa-map-list .dispensary .progress {
		max-width: calc(100% - 110px);
		width: 100%;
	}

	.jwa-map-list .dispensary-description .about-slider-nav .item {
		margin: 0 5px;
	}

	.jwa-map-list .dispensary-description .about-slider-nav .item img {
		height: 75px;
	}

	.jwa-map-list .dispensary-description .tab-pane#about p {
		font-size: 14px;
		line-height: 1.556;
	}
}

@media only screen and (max-width: 991px) {
	.jwa-map-list .dispensaries .map-block {
		height: auto;
	}

	.jwa-map-list .dispensaries .results {
		position: fixed;
		left: 0;
		right: 0;
		width: 100%;
		height: 58px;
		bottom: 0;
		border-radius: 12px 12px 0 0;
	}

	.jwa-map-list .dispensaries .results.open {
		height: calc(100vh - 254px);
	}

	.jwa-map-list .dispensaries .results .results-head {
		justify-content: center;
		position: relative;
		padding: 25px 15px 15px;
	}

	.jwa-map-list .dispensaries .results .results-head:before {
		content: '';
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		width: 45px;
		height: 3px;
		background: #d6d6d6;
		border-radius: 25px;
	}

	.jwa-map-list .dispensaries .results .results-head .icon-up {
		display: none;
	}

	.jwa-map-list .dispensaries #map {
		position: relative;
		width: 100vw;
		height: 440px;
		left: 720px;
		transform: translateX(calc(-360px - 50%));
	}

	.jwa-map-list .dispensaries .filters {
		height: 75px;
	}

	.jwa-map-list .dispensaries .filters .search {
		max-width: 100%;
		width: calc(100% - 146px);
	}

	.jwa-map-list .dispensaries .filters .search button {
		height: 40px;
	}

	.jwa-map-list .dispensaries .filters .search input {
		height: 40px;
		border: 1px solid #cbcbcb;
		border-radius: 42px;
	}

	.jwa-map-list .dispensaries .filters .select p {
		height: 40px;
	}

	.jwa-map-list .dispensaries .filters .select:before {
		display: none;
	}

	.jwa-map-list .checkbox-button {
		display: none;
	}

	.jwa-map-list .dispensary-description .about-slider-nav .item img {
		height: 130px;
	}

	.jwa-map-list .dispensary-description .tab-pane#business-hours {
		padding-bottom: 0;
	}

	.jwa-map-list .dispensary-description .tab-pane#business-hours.active {
		flex-direction: column;
	}

	.jwa-map-list .dispensary-description .tab-pane#about.active {
		flex-direction: column;
	}

	.jwa-map-list .dispensary-description .tab-pane#about .left-block,
	.jwa-map-list .dispensary-description .tab-pane#about .right-block {
		width: 100%;
		margin-right: 0;
	}

	.jwa-map-list .dispensary-description .business-hours {
		width: 100%;
		max-width: 100%;
		margin-bottom: 30px;
		margin-right: 0;
	}

	.jwa-map-list .dispensary-description #map {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 0;
	}
}

@media only screen and (max-width: 767px) {
	.jwa-map-list .dispensaries .filters .button {
		margin: 30px auto;
		width: 178px;
		height: 40px;
		border-radius: 25px;
		font-weight: 600;
		font-size: 16px;
	}

	.jwa-map-list .dispensaries .filters .select-options {
		padding: 0;
		z-index: 2;
		right: -15px;
		top: calc(100% + 17px);
		width: 100vw;
		border-radius: 0px;
		background: #f7f8f8;
		box-shadow: none;
	}

	.jwa-map-list .dispensaries .filters .select-options:before {
		display: none;
	}

	.jwa-map-list .dispensaries .filters .nav-tabs {
		justify-content: center;
		margin-bottom: 15px;
	}

	.jwa-map-list .dispensaries .filters .nav-tabs li {
		margin: 0 10px;
	}

	.jwa-map-list .dispensaries .filters .nav-tabs li.active a {
		background: #8cc153;
		border-color: #8cc153;
		color: #fff;
	}

	.jwa-map-list .dispensaries .filters .nav-tabs li a {
		transition: all 0.3s ease;
		width: 94px;
		height: 29px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid #bbb;
		border-radius: 50px;
		font-weight: 500;
		font-size: 15px;
		color: #717171;
	}

	.jwa-map-list .dispensaries .filters .tab-pane {
		display: none;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .radio-button:first-of-type {
		border-top: 1px solid #e1e1e1;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .radio-button label {
		padding-left: 0;
		padding: 20px 25px 20px 50px;
		border-bottom: 1px solid #e1e1e1;
		display: block;
		position: relative;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .radio-button label:before {
		content: '';
		position: absolute;
		left: 25px;
		top: 50%;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		border: 2px solid #dfdfdf;
		transform: translateY(calc(-50% - 1px));
	}

	.jwa-map-list .dispensaries .filters .tab-pane .radio-button input {
		display: none;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .radio-button input:checked + label:before {
		box-shadow: inset 0 0 0 3px #f7f8f8;
		background: #8cc153;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox input:not(:checked) + label:after {
		transform: translate(calc(-50% - 3px), -50%);
		background: #c7c7c7;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox input:not(:checked) + label:before {
		background: #dfdfdf;
		border-color: #dfdfdf;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox[class*="icon-"] {
		position: relative;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox[class*="icon-"]:before {
		position: absolute;
		left: 25px;
		top: 50%;
		transform: translateY(calc(-50% - 2px));
		font-size: 13px;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox[class*="icon-"] label {
		padding-left: 40px;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox:first-of-type {
		border-top: 1px solid #e1e1e1;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox label {
		padding-left: 0;
		padding: 20px 25px;
		border-bottom: 1px solid #e1e1e1;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox label:before {
		content: '';
		width: 21px;
		height: 10px;
		left: inherit;
		right: 25px;
		background: #8cc153;
		border-color: #8cc153;
		border-radius: 23px;
		transition: all 0.3s ease;
	}

	.jwa-map-list .dispensaries .filters .tab-pane .checkbox label:after {
		content: '';
		position: absolute;
		border-radius: 50%;
		background: #8cc153;
		width: 19px;
		height: 19px;
		right: 25px;
		top: 50%;
		transition: all 0.3s ease;
		transform: translate(50%, -50%);
	}

	.jwa-map-list .dispensaries .filters .tab-pane.active {
		display: block;
	}

	.jwa-map-list .dispensaries #map {
		left: -15px;
		transform: none;
	}

	.jwa-map-list .dispensaries .results .results-description img {
		width: 85px;
		height: 85px;
	}

	.jwa-map-list .dispensaries .results .results-description .buttons .button {
		width: 130px;
	}

	.jwa-map-list .dispensaries .results .description {
		width: calc(100% - 85px);
		padding: 5px 0px 5px 10px;
	}

	.jwa-map-list .dispensaries .results .description h3 {
		font-weight: 600;
		font-size: 14px;
		margin-bottom: 2px;
	}

	.jwa-map-list .dispensaries .results .description .rating {
		margin-bottom: 5px;
	}

	.jwa-map-list .dispensaries .results .description .address {
		font-size: 12px;
	}

	.jwa-map-list .dispensaries .results .description .status {
		font-size: 10px;
	}

	.jwa-map-list .dispensaries .results .description .status:before {
		position: relative;
		top: -1px;
	}

	.jwa-map-list .dispensaries .results img {
		width: 85px;
		min-height: 85px;
	}

	.jwa-map-list .dispensary-description .tab-pane#about img {
		width: 100%;
		border-radius: 12px;
		height: calc(65vw - 70px);
		object-fit: cover;
		object-position: center;
	}

	.jwa-map-list .dispensary-description .about-slider {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
	}

	.jwa-map-list .dispensary-description .about-slider .slick-track {
		padding: 30px 0;
	}

	.jwa-map-list .dispensary-description .about-slider .item {
		margin: 0 5.368vw;
		transition: all 0.3s ease;
	}

	.jwa-map-list .dispensary-description .about-slider .item.slick-center {
		transform: scale(1.2);
	}

	.jwa-map-list .dispensary-description .about-slider-nav {
		display: none;
	}

	.jwa-map-list .dispensary-description .dispensary-nav li {
		margin-right: 25px;
	}

	.jwa-map-list .dispensary-description .tab-pane .rating li {
		font-size: 30px;
	}
	.jwa-map-list .dispensary-description .dispensary-nav li,
	.jwa-map-list .dispensary-description .dispensary-nav li a{
		margin-right: 0 !important;
	}
}

@media only screen and (max-width: 579px) {
	.jwa-map-list .dispensary .progress-bars {
		width: 100%;
		margin-top: 30px;
	}

	.jwa-map-list .dispensary .col-lg-6 h3 {
		margin-bottom: 10px;
	}

	.jwa-map-list .dispensary img {
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.jwa-map-list .dispensary .description {
		width: 100%;
	}

	.jwa-map-list .dispensary .description .buttons .button:first-of-type {
		margin-right: 15px;
	}

	.jwa-map-list .dispensary .description .button {
		width: 130px;
	}

	.jwa-map-list .dispensary-description .reviews-form textarea {
		height: 120px;
	}
}

@media only screen and (max-width: 479px) {
	.jwa-map-list .dispensaries .filters .search {
		max-width: 100%;
		width: calc(100% - 66px);
	}

	.jwa-map-list .dispensaries .filters .select p {
		height: 40px;
		padding: 0;
		width: 0;
		font-size: 0;
		width: 40px;
	}

	.jwa-map-list .dispensaries .filters .select p:before {
		margin-left: 0;
	}

	.jwa-map-list .dispensary-description {
		padding-top: 10px;
		border-radius: 12px 12px 0 0;
	}

	.jwa-map-list .dispensary-description .reviews-form .input {
		margin-right: 0 !important;
		width: 100%;
	}

	.jwa-map-list .dispensary-description .reviews-form .textarea textarea {
		border-radius: 3px;
	}

	.jwa-map-list .dispensary-description .dispensary-nav li {
		padding: 10px 0;
	}

	.jwa-map-list .dispensary-description .dispensary-nav li a {
		font-size: 14px;
	}

	.jwa-map-list .dispensary-description .about-slider .slick-list {
		padding: 0 35px;
	}

	.jwa-map-list .dispensary-description .tab-pane#about {
		padding-bottom: 0;
	}

	.jwa-map-list .dispensary-description .tab-pane#about .right-block h3 {
		margin-bottom: 10px;
		text-align: center;
	}
}

@media only screen and (max-width: 359px) {
	.jwa-map-list .dispensary-description {
		padding-top: 10px;
		border-radius: 12px 12px 0 0;
	}

	.jwa-map-list .dispensary-description .tab-pane {
		padding-top: 15px;
	}

	.jwa-map-list .dispensary-description .dispensary-nav li {
		padding: 10px 0;
	}

	.jwa-map-list .dispensary-description .dispensary-nav li a {
		font-size: 12px;
	}
}
.dark .jwa-map-list .dispensary-description{
	background: #212121;
}
.dark .jwa-map-list .dispensary .breadcrumbs a span:hover{
	color: #FF4444;
}
.dark .jwa-map-list .dispensary .breadcrumbs a span{
	color: #8cc153;
}
.dark .jwa-map-list .nearest h2.title span{
	color: #fff ;
	background: #313131;
}
.dark .jwa-map-list .dispensary-description .reviews-form p,
.dark .jwa-map-list .dispensary-description .reviews-form h3,
.dark .jwa-map-list .dispensary-description .tab-pane#about p,
.dark .jwa-map-list .dispensary-description .dispensary-nav li.active a,
.dark .jwa-map-list .dispensary .col-lg-6 h3,
.dark .jwa-map-list .dispensary .breadcrumbs span,
.dark .jwa-map-list .dispensary .description .phone, 
.dark .jwa-map-list .dispensary .description .web,
.dark .jwa-map-list .dispensary .description .status,
.dark .jwa-map-list .dispensary .description .address{
	color: #fff ;
}
.dark .jwa-map-list  .dispensary-description {
	background: #212121;
}

.dark .jwa-map-list  .dispensary-description .tab-pane > .comment_block .review h2 {
	color: #fff;
}

.dark  .jwa-map-list .dispensary-description .tab-pane > .comment_block:before {
	background: #313131;
}

.dark  .jwa-map-list .dispensary-description .tab-pane > .comment_block .review {
	background: #212121;
}

.dark .jwa-map-list  .dispensary-description .tab-pane#about p {
	color: #fff;
}

.dark .jwa-map-list .dispensary-description .reviews-form h3 {
	color: #fff;
}

.dark .jwa-map-list  .dispensary-description .reviews-form input,
.dark .jwa-map-list  .dispensary-description .reviews-form textarea {
	color: #fff;
}

.dark .jwa-map-list .dispensary-description .reviews-form input::-webkit-input-placeholder,
.dark .jwa-map-list  .dispensary-description .reviews-form textarea::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}

.dark .jwa-map-list  .dispensary-description .reviews-form input::-moz-placeholder,
.dark .jwa-map-list  .dispensary-description .reviews-form textarea::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.dark .jwa-map-list  .dispensary-description .reviews-form input:-ms-input-placeholder,
.dark .jwa-map-list .dispensary-description .reviews-form textarea:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

.dark .jwa-map-list  .dispensary-description .reviews-form input:-moz-placeholder,
.dark .jwa-map-list  .dispensary-description .reviews-form textarea:-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.dark .jwa-map-list .dispensary-description .business-hours.icon-lock:before {
	background: #212121;
}

.dark .jwa-map-list  .dispensary-description .dispensary-nav li.active a {
	color: #fff;
}

.dark .jwa-map-list  .dispensaries .results {
	background: #212121;
}

.dark .jwa-map-list  .dispensaries .results .results-description .buttons .button:last-of-type {
	color: #fff;
}

.dark .jwa-map-list .dispensaries .results .results-description > h3 {
	color: #fff;
}

.dark .jwa-map-list .dispensaries .results .results-head .back {
	color: #fff;
}

.dark .jwa-map-list  .dispensaries .results .results-head .sort-filter ul {
	background: #313131;
}

.dark .jwa-map-list  .dispensaries .results .results-head .sort-filter ul:before {
	border: 16px solid transparent;
	border-bottom: 16px solid #313131;
}

.dark .jwa-map-list .dispensaries .results .results-head .sort-filter ul a {
	color: #fff;
}

.dark .jwa-map-list .dispensaries .results .results-head .sort-filter ul a:hover {
	color: #8cc153;
}

.dark .jwa-map-list .dispensaries .results .item {
	border-color: #313131;
	background: #313131;
}

.dark .jwa-map-list .dispensaries .results .item .status {
	color: #fff;
}

.dark .jwa-map-list .dispensaries .filters .select-options {
	background: #212121;
}

.dark .jwa-map-list .dispensaries .filters .select-options:before {
	border: 16px solid transparent;
	border-bottom: 16px solid #212121;
}

.dark .jwa-map-list .dispensaries .filters .select p {
	color: #313131;
}

.dark .jwa-map-list .dispensary .description .phone,
.dark .jwa-map-list .dispensary .description .web,
.dark .jwa-map-list .dispensary .description .status,
.dark .jwa-map-list .dispensary .description .address {
	color: #fff;
}

.dark .jwa-map-list .dispensary .breadcrumbs span {
	color: #fff;
}

.nearest {
	padding: 50px 0 65px;
}

.nearest h2.title {
	font-size: 24px;
}

.nearest .item {
	border-radius: 12px;
	background: #fff;
	border: 1px solid #e8e5e5;
	overflow: hidden;
	transition: all 0.3s ease;
}

.nearest .item:hover {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.nearest img {
	width: 155px;
	min-height: 136px;
	object-fit: cover;
	object-position: center;
}

.nearest .description {
	width: calc(100% - 155px);
	padding: 15px 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nearest .description .status {
	font-size: 12px;
	color: #848484;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nearest .description .status:before {
	margin-right: 5px;
	position: relative;
	top: -1px;
}

.nearest .description .status.icon-clock:before {
	color: #8cc153;
}

.nearest .description .status.icon-lock:before {
	color: #f44;
}

.nearest .description .rating {
	font-size: 10px;
	color: #bbb;
	align-items: flex-end;
	margin-bottom: 10px;
}

.nearest .description .rating ul[data-rating="1"] li:nth-of-type(-n+1) {
	color: #fdcc1c;
}

.nearest .description .rating ul[data-rating="2"] li:nth-of-type(-n+2) {
	color: #fdcc1c;
}

.nearest .description .rating ul[data-rating="3"] li:nth-of-type(-n+3) {
	color: #fdcc1c;
}

.nearest .description .rating ul[data-rating="4"] li:nth-of-type(-n+4) {
	color: #fdcc1c;
}

.nearest .description .rating ul[data-rating="5"] li:nth-of-type(-n+5) {
	color: #fdcc1c;
}
.nearest .description .rating ul li.star {
	color: #fdcc1c;
}

.nearest .description .rating li {
	color: #bbb;
	margin-right: 5px;
	font-size: 14px;
}

.nearest .description h3 {
	font-weight: 800;
	font-size: 16px;
	margin-bottom: 5px;
	color: #313131;
}

.nearest .description .address {
	color: #313131;
	font-size: 12px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 1459px) {
	.nearest .item {
		align-items: stretch;
	}
}

@media only screen and (max-width: 1199px) {
	.nearest .item {
		flex-direction: column;
	}

	.nearest .item img {
		width: 100%;
	}

	.nearest .description {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.nearest .col-lg-4 {
		margin-bottom: 30px;
	}

	.nearest .col-lg-4:last-of-type {
		margin-bottom: 0;
	}

	.nearest .item {
		flex-direction: row;
	}

	.nearest .item img {
		width: 155px;
	}

	.nearest .description {
		width: calc(100% - 155px);
	}
}

@media only screen and (max-width: 479px) {
	.nearest .item {
		flex-direction: column;
	}

	.nearest .item img {
		width: 100%;
	}

	.nearest .description {
		width: 100%;
		padding: 15px;
	}
}

.dark .nearest .description p,
.dark .nearest .description h3 {
	color: #fff;
}

.dark .nearest .item {
	border: 1px solid #212121;
	background: #212121;
}